.btn {
  margin-top : 0.5vh;
  background: black!important;
  color : white!important;
  border: none!important;
}

.btn_row{
  margin-top: 4vh;
}

body{
  background: rgb(53,53,53)!important;
}

header{
  border-bottom: 1px solid rgb(90, 90, 90)!important;
}

.ant-input:hover, .ant-input-password:hover{
  border-color: rgb(255 255 255 / 30%)!important;
}

.ant-input:focus, .ant-input-focused{
  border-color: rgb(255 255 255 / 30%)!important;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 30%)!important;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused, .ant-btn:hover, .ant-btn:focus{
  border-color: rgb(255 255 255 / 30%)!important;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 30%)!important;
}

.ant-row{
  color:white;
  margin-bottom: 1vh;
}

html{
  --antd-wave-shadow-color:rgb(255 255 255 / 30%)!important;
}

